language: java
jdk:
 - openjdk8
services:
  - postgresql
before_script:
 - psql -c "CREATE DATABASE lulabs;" -U postgres
 - sudo -u postgres psql -c "ALTER ROLE postgres WITH password 'postgres'"
deploy:
 provider: heroku
 api-key: $TOKEN
 app: $APP
