language: java
jdk:
 - openjdk8
services:
  - postgresql
before_script:
 - psql -c "CREATE DATABASE lulabs;" -U postgres
 - sudo -u postgres psql -c "ALTER ROLE postgres WITH password 'postgres'"
env:
  global:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/lulabs
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
deploy:
 provider: heroku
 api-key: 
  secure: $HEROKU_API_KEY
 app: $APP
