language: java
jdk:
 - openjdk8
services:
  - postgresql
before_script:
  - psql -c 'create database db;' -U postgres
env:
  global:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
deploy:
 provider: heroku
 api-key: 
  secure: $HEROKU_API_KEY
 app: $APP